<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.springframework.test.bean.IUserDao"/>
    <bean id="userService" class="org.example.springframework.test.bean.UserService"/>

    <bean class="org.example.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="org.example.springframework.test.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="org.example.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="org.example.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* org.example.springframework.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>